.App {
  text-align: center;
}


@font-face {
  font-family: 'ENDORALT';
  src: local('ENDORALT'), url("/ENDORALT.ttf") format('ttf');
}

body {
  background: url("/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  font-family: 'ENDORALT';
  src: local('ENDORALT'), url("/ENDORALT.ttf") format('ttf');
  font-size: 30px;
  color:white;
}

.fissure{
  left:50%;
  z-index: -50;
  width:100%
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-main{
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}
.card-table{
  /*border: solid 0.5px;*/
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width:70px;
  height:110px;
  display:inline-block;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}
.card-table-anime{
  position: absolute;
  width:70px;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  margin-bottom:0;
}
.card-table:hover{
  background-color: rgba(65, 105, 225, 0.493);
}

.droptarget {
  width:70px;
  height:110px;
  margin-left: 1%;
  margin-right: 1%;
  display:inline-block;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}
.ddcontainersource{
  padding:5px;
  margin:10px;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}

.ddcontainer{
  opacity:1;
  width:70px;
  height:110px;
  margin: 10px;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}

.smoothy{
  margin-right: auto;
  width: 100%;
  justify-content: center;
  display: flex;
  -webkit-transition:all 0.5s ease-in-out;
-moz-transition:all 0.5s ease-in-out;
-o-transition:all 0.5s ease-in-out;
transition:all 0.5s ease-in-out;
}

.ddcontainerghost{
  padding:5px;
  margin:10px;
}

.card-font{
position:relative;
/*margin:30px;*/
width:70px;
height:110px;
-webkit-transition:all 0.5s ease-in-out;
-moz-transition:all 0.5s ease-in-out;
-o-transition:all 0.5s ease-in-out;
transition:all 0.5s ease-in-out;
}

.damage-anime{
  opacity:0;
  position:absolute;
  margin:0;
  width:70px;
  left:2px;
  height:110px;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;

}

.shield-invulnerability{
  position:absolute;
  margin:0;
  bottom:2px;
  right:6px;
  width:20px;
  height:30px;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}

.card{
  position:absolute;
  /*margin:30px;*/
  width:70px;
  left:2px;
  height:110px;
  background-size: 70px 110px;
  background-repeat: no-repeat;
  object-fit: contain;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}

.list-card{
  margin:50px;
  vertical-align: 30px;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  display: inline-flex;
  justify-content: center;
}

.red-span{
  color: red;
}

.main-span-card{
  position: absolute;
}

.span-card{
  overflow: hidden;
  width:70px;
  height:110px;
  display:inline-block;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;

}

.span-card:hover{
  cursor: grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: -webkit-grabbing !important;
}

.smoothy:hover{
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.only-flex{
  border-radius: 5px;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
}

.bolded{
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  transform: translate(-1%, -1%) scale(1.1);
  color:red;
}

.border-card{
  display: none;
  z-index: 1001;
  
}

.border-card-font{
  position: absolute;
  width:180px;
  height:260px;
  left:10px;
  top:10px;
  right:10px;
  bottom:10px;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(0, 0, 0, .9);

}

.border-card img{
  border: 20px;
  width:200px;
  height:280px;

}


.span-card {
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  /*transition: transform 0.5s;
  -webkit-transition-property: width height background-color font-size left top transform -webkit-transform color;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-property: width height background-color font-size left top transform -webkit-transform color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;*/
  transform: rotateY(180deg);
}

.asideLeft{
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  float: left;
  margin: 0 1.5%;
  width: 25%;
}

.asideRight{
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  float: right;
  margin: 0 1.5%;
  width: 25%;
  text-align: right;
}

.table{
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
}

.party{
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  display:flex;
  align-items: center;
  justify-content: center;
}

.point-me{
  width:50px;
  justify-content: center;
  position: relative;
  top: -100px;
  left: 69px;
  color:white;
  font-size: 45px;
  /*font-size: 20px;*/
  text-align: center;
}
.point-other{
  width:50px;
  justify-content: center;
  position: relative;
  top: -250px;
  left: 71px;
  color: white;
  font-size: 45px;
  /*font-size: 20px;*/
  text-align: center;
}

.point-img-me{
  position:relative;
  left:40px;
  width:150px;
  height:150px;
  top:40px;
  background: url("/embleme.png") no-repeat; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.point-img-other{
  width:150px;
  height:150px;
  background: url("/embleme.png") no-repeat; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  transform: rotate(180deg);
}

.classRotationallie{
  position:absolute;
  top:180px;
  right:200px;
}

.card-point-embleme{
  position: absolute;
  text-align: center;
  top:-6px;
  left:5px;
  color:white;
}

.card-embleme{
  position: absolute;
  top:-43px;
  left:-30px;
  width:70px;
}

.classRotationadverse{
  position:absolute;
  top:420px;
  right:200px;
}

@media screen and (max-width: 1240px) {
  .classRotationallie{
    right:50px;
  }
  
  .classRotationadverse{
    right:50px;
  }
}


.menu-span-card{
  width:150px;
  height:150px;
  position: absolute;
  top:220px;
  left:300px;
  color:white;
  text-align: center;
  justify-content: center;
  -webkit-transition:all 5s ease-in-out;
  -moz-transition:all 5s ease-in-out;
  -o-transition:all 5s ease-in-out;
  transition:all 5s ease-in-out;
}


	.menu-span-card-bright {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
	}
	.menu-span-card-bright {
    z-index: -50;
		content: '';
		position: absolute;
		opacity: 0;
		width: 200px;
		height: 290px;
		background-image: url('/emptycard.png');
		background-size: cover;
		background-position: center;
		top: 0; left: 0;
		transition: all .3s ease-out;
		transform: translate(-1%, -1%) scale(1.055);
		filter: brightness(2) sepia(1) hue-rotate(180deg) saturate(4) blur(7px);
  }
  .menu-span-card:hover .menu-span-card-bright{
		opacity: 1;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  .menu-span-card:hover{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  
	.menu-span-card:active { transform: scale(0.985); }

.contentText-menu-card{
  position: relative;
  top:-168px;
  left:25px;
  font-size: 40px;
  /*font-size: 30px;*/
  text-shadow: royalblue;
  margin: 0 auto;
  text-align: center;
}

.menu-card-img{
  width:200px;
}

.minerais{
  position: absolute;
  right:50px;
  margin:20px;
}

.minerais span{
  position: absolute;
  color:white;
  width:100px;
  top:-10px;
  margin-left:5px;
  font-size: 40px;
}
.minerais-img{
  width:20px;
  top:-10px;
}



.card-nbr{
  position: absolute;
  right:150px;
  margin:20px;
}

.card-nbr span{
  position: absolute;
  color:white;
  width:100px;
  top:-10px;
  margin-left:5px;
  font-size: 40px;
}
.card-nbr-img{
  width:20px;
  top:-10px;
}


.border-card-font-title{
  color:rgb(155, 20, 20);
  font-size: 35px;
  margin:10px;
}

.race-icons{
  position: absolute;
  bottom:-265px;
  right:-185px;
  width:20px !important;
  height:20px !important;
}

.border-card-font-skillMeleedesc{
  font-size: 30px;
  margin:10px;
}

.border-card-font-skillDistdesc{
  font-size: 30px;
  margin:10px;
}

.array-back{
  position: absolute;
  width:50px;
  margin-left:50%;
  margin-right:50%;
  display: flex;
  justify-content: center;
  bottom: 100px;
}

.array-back-img{
  position: absolute;
  width:150px;
}

.array-back-text{
  position: absolute;
  width:150px;
  height:60px;
  margin-left:0;
  margin-right:0;
  top:20px;
  text-align: center;
}

.array-back-bright {
  z-index: -50;
  content: '';
  opacity: 0;
  width: 150px;
  height: 70px;
  background-image: url('/array.png');
  background-size: cover;
  background-position: center;
  transition: all .3s ease-out;
  transform: translate(-1%, -1%) scale(1.1);
  filter: brightness(2) sepia(1) hue-rotate(180deg) saturate(4) blur(7px);
}
.array-back:hover .array-back-bright{
  opacity: 1;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.array-back:hover{
  opacity: 1;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  transition: all .3s ease-out;
  transform: translate(-1%, -1%) scale(1.1);
}

.card-deletable{
  position: absolute;
  bottom:0px;
  margin-right: 50px;
  margin-left: 50px;
  width:60px;
  height:35px;
  text-align: center;
  background-image: url('/arraybutton.png');
  background-size: contain ;
  background-repeat: no-repeat;
  background-position: center;
  margin:5px;
}

.card-deletable:hover{
  opacity: 1;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  transition: all .3s ease-out;
  transform: translate(-1%, -1%) scale(1.1);
}

.button-pagination{
  width:45px;
  height:35px;
  text-align: center;
  background-image: url('/arraybutton.png');
  background-size: contain ;
  background-repeat: no-repeat;
  background-position: center;
  margin:5px;
}

.button-pagination:hover{
  opacity: 1;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  transition: all .3s ease-out;
  transform: translate(-1%, -1%) scale(1.1);
}

.pagination{
  width:100%;
  position: absolute;
  margin-left:0;
  margin-right:0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  bottom: 200px;
}

.list-buy-card{
  width:100%;
  position: absolute;
  margin-left:0;
  margin-right:0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  bottom: 400px;

}





select {
  display: block; /*hide original SELECT element: */
  background-color: rgba(0, 0, 0, .7);
  color:white;
  font-family: 'ENDORALT';
  src: local('ENDORALT'), url("/ENDORALT.ttf") format('ttf');
  font-size: 30px;
  border-color: #fff transparent transparent transparent;
  padding: 5px;
  width: 450px;
}

select option {
  background-color: transparent; 
  background-color: rgba(78, 32, 14, 0.7);
  background: transparent;
  -webkit-appearance: none;
  border:none;
}


input{
  display: block; /*hide original SELECT element: */
  background-color: rgba(0, 0, 0, .7) !important;
  color:white;
  font-family: 'ENDORALT';
  src: local('ENDORALT'), url("/ENDORALT.ttf") format('ttf');
  font-size: 30px;
  border-color: #fff transparent transparent transparent;
  padding: 5px;
  width: 436px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 1) inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

input[type=file] {
	position: relative;
	opacity: 0;
  z-index: 2;
  width:450px;
}

.file-label{
  text-align: center;
  position: absolute;
  top:55px;
  height:40px;
  left:10;
  font-size: 40px;
  border-color: #fff transparent transparent transparent;
  padding: 5px;
  background-color: rgba(0, 0, 0, .7);
  width:440px;
}

.overview-img{
  width:250px;
  height:375px;
  top:5px;
  left:-100px;
  position: absolute;
  z-index: -2;
}

.overview-make-card{
  position: absolute;
  width: 50px;
  margin-left: 50%;
  margin-right: 50%;
  display: flex;
  justify-content: center;
  bottom: 200px;
}

/*.overview-border{
  position: absolute;
}*/

.overview-point-embleme{
  text-align: center;
  justify-content: center;
  position: absolute;
  top:40px;
  left:-115px;
  width:100px;
  color:white;
  font-size: 35px;
}

.overview-embleme{
  position: absolute;
  top:13px;
  left:-100px;
  width:70px;
}

.form-make-card{
  padding: 10px;
}


.cost-make-card{
  border-radius: 5px 5px 5px 5px;
  margin-left:10px;
  margin-top:5px;
  width:450px;
  text-align: center;
  font-size: 40px;
  background-color: rgba(0, 0, 0, .7);
  background-size: 200px 200px;
  border-color: #fff transparent transparent #fff;
}


.send-make-card-text button{
  position:absolute;
  width:140px;
  height:80px;
  margin-top:-25px;
  margin-left:-105px;
  opacity:0;
}

.send-make-card{
  position: absolute;
  width:50px;
  margin-left:50%;
  margin-right:50%;
  display: flex;
  justify-content: center;
  bottom: 620px;
}

.send-make-card-img{
  position: absolute;
  width:150px;
}

.send-make-card-text{
  position: absolute;
  width:150px;
  height:50px;
  top:20px;
  text-align: center;
}

.send-make-card-bright {
  z-index: -50;
  content: '';
  opacity: 0;
  width: 150px;
  height: 70px;
  background-image: url('/array.png');
  background-size: cover;
  background-position: center;
  transition: all .3s ease-out;
  transform: translate(-1%, -1%) scale(1.1);
  filter: brightness(2) sepia(1) hue-rotate(180deg) saturate(4) blur(7px);
}
.send-make-card:hover .send-make-card-bright{
  opacity: 1;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.send-make-card:hover{
  opacity: 1;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  transition: all .3s ease-out;
  transform: translate(-1%, -1%) scale(1.1);
}

.order-by-race{
  width:150px;
}
.order-by-point{
  width:150px;
}
.order-by-cost{
  width:150px;
}
